@font-face {
	font-family: 'Oswald-Light';
	src: url('../utils/font/Oswald-Light.ttf');
}

.App {
  text-align: center;
}



.navFixed{
  position: fixed;
  width: 100%;
  background: rgb(255, 255, 255);
  top: 0;
}


.navDetail a{
color: #fff;
}
.navDetail input{
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}